html,
body {
  margin: 0;
  padding: 0;
}


header {
  background-color: #6225ba;
  color: #fff;
  top: 0;
  height: 80px;
  width: 100%;
  position: sticky;
  display: flex;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
}

.box1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  height: 600px;
  background-color: #6225ba;
}


.cash-stream {
  font-size: 30px;
  align-self: auto;
  font-family: sans-serif;
  margin: 20px;
  width: 230px;
  margin-left: 95px;
  color: #42b4ee;
}


nav {

  font-size: 15px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  margin-right: 100px;

}

nav a {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
}

nav a:hover {
  color: #42b4ee;
  background-color: transparent;
  border-bottom: 2px solid #42b4ee;
}


.tagline {
  margin-right: 20px;
}

.tagline2 {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 45px;
}


.content {
  flex: 1;
  max-width: 60%;
  padding-right: 20px;
  font-family: sans-serif;
  margin: 80px;
}

.tagline1{
  color: white;
  font-weight: bold;
  margin: 0px;
  font-size: 30px;
}

.tagline-description{
  margin: 20px 0;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
}



.signup {
  display: flex;
  text-decoration: none;
  color: #fff;
  background-color: #42b4ee;
  padding: 10px 20px;
  border-radius: 5px;
  height: 20px;
  font-family: sans-serif;
  width: 60px;
  margin-left: 30px;
  justify-content: center;
  margin-right: 15px;
  transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
}


.signup:hover {
  background-color: #aa7df0;
  color: white;
}
.join{
  display: flex;
  text-decoration: none;
  color: #fff;
  background-color: #42b4ee;
  border-radius: 5px;
  height: 45px;
  font-size: 15px;
  font-family: sans-serif;
  width: 140px;
  text-align: center;
  justify-content: center;
  margin-right: 15px;
  transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
  align-items: center;
}
.join:hover{
  background-color: #aa7df0;
  color: white;
}
.image-container {
  flex: 1;
  max-width: 50%;
  text-align: right;
}

.Features-heading
{    display: flex;
  margin: 5px;
  justify-content: center;
  font-family: sans-serif;
  font-size: 30px;
}
.box2 {
  height: 700px;
  width: 100%;
  background-color: white;
  font-family: sans-serif;
  margin-top: 120px;
}
.box2imgbox{
  width: 40%;
}
.box2_img{
  height: 350px;
  width: 420px;

}

  .Group-396 {
    height: 350px;
    margin-top: 60px;
}

.box3_1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
}
.rectangle2{
  margin: 15px;
  position: relative;
  width: 280px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  min-height: 350px;
  min-width: 225px;
}
.rectangle1{
  margin: 15px;
  width: 280px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  min-height: 350px;
  min-width: 225px;
}
.rectangle1:hover{
  color: white;
}
.rectangle2:hover{
  color: white;
}
.rectangle3:hover{
  color: white;
}
.rectangle4:hover{
  color: white;
}
.rectangle1:hover .arrow-rec{
  filter: grayscale(100%) brightness(100%);
}
.rectangle2:hover .arrow-rec{
  filter: grayscale(100%) brightness(100%);
}
.rectangle3:hover .arrow-rec{
  filter: grayscale(100%) brightness(100%);
}
.rectangle4:hover .arrow-rec{
  filter: grayscale(100%) brightness(100%);
}

.rectangle3{
  margin: 15px;
  width: 280px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  position: relative;
  min-height: 350px;
  min-width: 225px;
}
.rectangle4{

  margin: 15px;
  width: 280px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  position: relative;
  min-height: 350px;
  min-width: 225px;

}
.rec-img{
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.rec-title{
  text-align: center;
  position: absolute;
  margin-top: 55px;
  top: 150px;
  left: 83px;
}
.arrow-rec{
  position: absolute;
    right: 125px;
    top: 295px;
}


.card-hover{
  height: 175px;
  width: 100%;
  position: relative;
  bottom: -25px;
  opacity: 0;
}

.rectangle1:hover .card-hover {
animation: fadeInFromNone 0.7s ease-in;
opacity: 100%;
}
.rectangle2:hover .card-hover {
  animation: fadeInFromNone 0.7s ease-in;
  opacity: 100%;
  }
  .rectangle3:hover .card-hover {
    animation: fadeInFromNone 0.7s ease-in;
    opacity: 100%;
    }
    .rectangle4:hover .card-hover {
      animation: fadeInFromNone 0.7s ease-in;
      opacity: 100%;
      }


@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}
.rec-dec{
  position: absolute;
  top: 220px;
}

.box-2-1
 {
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
 }
 .image-box1
 {
    height: 400px;
    width: 50%;
 }
 
 .image-box2
 {
    
    height: 400px;
    width: 50%;
     

    
 }
 .title-section-2
 {
   font-weight: 600;
   font-family: sans-serif;
   font-size:50px;
 }
 .heading-section-2
 {
   
    
   font-family: sans-serif;
   font-size:30px;
 }
 .section-des-2
 {
   color: grey;
 }
.box3{
  height: 600px;
  width: 100%;
}